body{
    margin: 0;
    font-family: Arial;
}

#sect-1 {
    background-image: url(images/phcityy.jpeg);
    height: 350px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 0;
}

#main {
    font-size: 30px;
    font-weight: 700;
    line-height: 36.8px;
    background-color: #394F2E;
    padding: 2px 12px;
    display: inline;
    border-radius: 10px;
}

#intro {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.53px;
    text-align: center;
    width: 380px;
    background-color: #475E66;
    padding: 3px 10px;
    border-radius: 10px;
}

#activity {
    display: flex;
}

#sect-2 {
    text-align: center;
    background-color: #86948C;
    padding: 10px;
    color: #1D3557;
}

.activity-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.activities {
    margin: 10px;
}

h4.activities {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
}

#card {
    display: flex;
    width: 400px;
    text-align: center;
    margin: 40px auto;
    padding: 20px 15px;
    background-color: #E4FDE1;
    border-radius: 20px;
    border-bottom: solid #1D3557 7px;
    color: #1D3557;
}

#guide {
    width: 200px;
    border-radius: 10px;
    margin-right: 10px;
}

.italic {
    font-style: italic;
    font-weight: 200;
}